body {
    background-image: url("https://raw.githubusercontent.com/martinpolder/friendfinder/master/app/data/beige-tiles.png");
    color: rgb(242, 242, 242);
}

h1 {
    text-align: center;
}

.my-nav{
    background-color: rgb(115, 65, 54);
    color: rgb(242, 242, 242);
}

#splash {
    width: 100%;
}

#splash-serv {
    width: 100%;
}

.quote {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(16, 17, 17);
    font-size: 300%;
   
 
  }

.btn {
    background-color: rgb(115, 65, 54);
    color: black;
}


.container {
    text-align: center;

}

.qlabel{
   text-align: left;
   

}

.form-control {
    width: 65%;
    margin: 0 auto 0 auto;
    text-align: center;
    margin-bottom: 5%;
}

#match-pic {
    width: 70%;
}

footer {
    text-align: left;
}