body {
    background-image: url("https://raw.githubusercontent.com/martinpolder/friendfinder/master/app/data/beige-tiles.png");
    color: rgb(242, 242, 242);
   font-family: 'Quicksand', sans-serif;
   font-size: 130%;
}

h1 {
    text-align: center;
}

.my-nav{
    background-color: rgb(115, 65, 54);
    color: rgb(242, 242, 242);
}

#home-link {
    color: rgb(242, 242, 242);

}

#home-link:hover {
    color: rgb(9, 13, 53);
}

#splash {
    width: 100%;
}

#splash-surv {
    width: 100%;
}

.quote {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 247, 199);
    text-shadow: 2px 2px 20px rgb(24, 29, 58);
    font-size: 400%;
    font-family: 'Marck Script', cursive;
 
  }

.btn {
    background-color: rgb(115, 65, 54);
    color: rgb(245, 239, 225);
    font-size: 120%;
}

.btn:hover {
    background-color: rgb(245, 229, 226);
    color: black;
   
}



.container {
    text-align: center;

}

.qlabel{
   text-align: left;
   

}



#q-title {
    margin-top: 7%;
}

.form-control {
    width: 65%;
    margin: 0 auto 0 auto;
    text-align: center;
    margin-bottom: 5%;
}

#match-pic {
    width: 80%;
}

#modal-title {
    color: rgb(9, 13, 53);
    font-size: 130%
}

.match-txt {
    color: rgb(9, 13, 53);
    font-size: 130%
}

#api-link {
    color: grey;
    
}

#api-link:hover {
    color: rgb(255, 255, 255);
    
}

footer {
    text-align: left;
}